body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  position: relative;
}

#header, #footer {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  font-family: monospace;
  color: white;
}

.content {
  position: relative;
  z-index: 1;
  /* text-align: center; */
  flex: 1;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 3rem;
    letter-spacing: 2px;
}

h1, p, a {
  color: white;
  font-family: monospace;
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}

.star {
  position: absolute;
  background: rgb(113, 178, 215);
  border-radius: 50%;
  opacity: 0;
  animation: twinkle 5s infinite ease-in-out;
  filter: blur(3px);
}

@keyframes twinkle {
  10%, 90% { opacity: 0; }
  45%, 55% { opacity: 0.015; }
}